.zoom:hover{
    transform: scale(1.05);
}

body{
    background-color: #f1fdfb;
}

hr{
    border-style:dotted none none none;
    border-color:grey;
    width: 5%;
    border-width:7px;
}

h1,h3{
    color:#61c0bf;
}